body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-content: right;
}

header nav{
    flex: 1;
    padding-left: 650px;
    margin-top: 30px;
    /* width: 100%; */
}
header nav ul li {
    display: block;
    color: #000;
    padding: 10px 40px;
}

header nav ul li i {
    display: block;
    color: #000;
    padding-right: 10px;
}

header a {
    text-decoration: none;
    color: #000;
}

header a.active {
    color: #D1884F;
}

header i.active {
    color: #D1884F;
}

.btn1 {
    border: none;
    color: white;
    text-align: center;
    padding: 5px 25px;
    margin-right: 20px;
    margin-top: 60px;
    background-color: #008AAA;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 2px #c2eaf3;
}

.btn2 {
    border:  solid #3BBADB ;
    color: #3BBADB;
    text-align: center;
    padding: 4px 20px;
    margin-right: 25px;
    background-color: white;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #c3eef9;
}

span{
    color: #D1884F;
}

h1{
    color: #008AAA;
    /* font-weight: 900; */
}

.welcome{
    color:  #3BBADB;
}

.see-more{
    color: #3BBADB;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.row{
    display: flex;
    /* height: 88%; */
    align-items: center;
    /* margin-top: 20px; */
    margin-left: 70px;
}

.col{
    flex-basis: 50%;
    padding: 50px;
    /* position: relative; */
}

.row .col section{
    padding: 5px;
}

.img{
    padding-top: 50px;
    width: 320px;
    height: 320px;
    /* padding-left: 50px; */
    border-bottom-left-radius: 130px;
    position: relative;
    /* z-index: 10; */
 } 

.homeSh {
    width: 280px;
    height: 290px;
    background-color: #3BBADB;
    position: absolute;
    bottom: 80px;
    right:  255px;
    border: 4px solid #3BBADB;
    z-index: -1;
    border-bottom-left-radius: 130px;
}

